In [ ]:
#list
list1=[100,200,300,400,500]     #reverse list           
list1.reverse()
print(list1)

In [ ]:
list1=["a","b","c"]
list1.reverse()
print(list1)

In [ ]:
list1=[100,200,300,400,500]    #reverse list
list1[::-1]
print(list1)

In [ ]:
list2=["A","B","C","d"]
print((list2[::-1]))

#or

i=list2[::-1]
print(i)

In [ ]:
list1=["M","na","i","s"]      #concatenate two list index-wise
list2=["y","me","s","am"]
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

In [ ]:
list1=[2,3,4,6,5]
list2=[4,5,6,7,8]
list3=list1+list2
print(list3)

In [ ]:
list1=["i ","san"]
list2=["'am'","tosh"]
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

In [ ]:
numbers=[1,2,3,4,5,6,7]        #square of every element
res=[x*x for x in numbers]
print(res)

In [ ]:
x=[1,2,3,98,88,55,55]
x.reverse()
print(x)
square=[i*i for i in x]
print(square)

In [ ]:
list1=["hello","take"]      #concatenate list
list2=["dear","sir"]
res=[x+y for x in list1  for y in list2]
print(res)

In [ ]:
list1=["i am"," hello"]
list2=[" belge"," santosh"]
res=[x+y for x in list1 for y in list2]
print(res)
#i=[x+y for (x,y) in (list1,list2)]   # its a another veriation only for try
#print(i)

In [ ]:
#iterate both lists simultaneously 
list1=[10,20,30,40,50]
list2=[100,200,300,400,500]


for x,y in zip(list1,list2[::-1]):
    print(x,y)

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list2=[11,22,33,44,55,66,77,88,99]
#list2.reverse()    #anothr method
#for x,y in zip(list1,list2):
for x,y in zip(list1,list2[::-1]) :
    
    print(x,y)

In [ ]:
#remove empty string from the list
list1=["mike","","emaa","kelly","","brad"]
x=list(filter(None,list1))
print(x)

In [ ]:
list1=["","",1,2,3,"sam"]
(x)=list(filter(None,list1))
print(x)

In [ ]:
list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
print(list1)

In [ ]:
list1=[1,2,3,[30,40,50,[300,400]]]
list1[3][3].append(500)
print(list1)
print(list1[3][3][2])

In [ ]:
list1=[10,20,[300,400,[5000,6000],500],30,40]

list1[0]

In [ ]:
list1[1]

In [ ]:
list1[2]

In [ ]:
list1[4]

In [ ]:
list1[2][2]

In [ ]:
list1[2][2][1]

In [ ]:
#extend nested list by adding the sublist
list1=["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]
sub_list=["h","i","j"]
list1[2][1][2].extend(sub_list)
print(list1)

In [ ]:
list1[2][1][2][2]

In [ ]:
#replace lists item with new value if found
list1=[5,10,15,20,25,30,25,35,50,25,25]
index=list1.index(25)
list1[index]=200
print(list1)

In [ ]:
list1 = [5, 10, 15, 20, 200, 30, 25, 35, 50, 25, 25]
index=list1.index(20)
print(index)
print(list1.index(20))

In [ ]:
#remove all occurences of a specific item from a list
list1=[5,10,15,20,32,35,40,55,65,75,25,20]
while 20 in list1:
    list1.remove(20)
print(list1)

In [ ]:
list1=[5,10,15,20,32,35,40,55,65,75,25,20,10,5,15,20,32,35,40,55,65]   #set is not allowed duplicates
list2 = set(list1)
print(list(list2))

In [ ]:
list1.remove(75)
print(list1)

In [ ]:
#creating a python list
#using list() constructor   -
# using squre bracket[]  -

In [ ]:
#using list() constructor
list1=list((1,2,3))
print(list1)
list2=list((2,235,1235))
print(list2)

In [ ]:
#using squre bracket[]
list1=[1,2,3,4]
print(list1)

In [ ]:
#length of list
list1=[1,2,3,4]
len(list1)

In [ ]:
#accessing items of list
#1 using indexing,
#2 using slicing

In [ ]:
#using indexing
#1-positive indexing
list1=[1,2,3,4,5,6,4,8,9,11]
print(list1[3])

In [ ]:
#2 negative indexing
list1=[1,2,3,4,5,6,4,8,9,11]
print(list1[-6])

In [ ]:
#2 slicing index
list1=[1,2,3,4,5,6,4,8,9,11]
print(list1[2:5])

In [ ]:
list1=[1,2,3,4,5,6,4,8,9,11]
print(list1[:8])

In [ ]:
#print every second element (2,3,... )
list1=[1,2,3,4,5,6,4,8,9,11]
print(list1[::-2])

In [ ]:
#reversing my list
list1=[1,22,444,55,263,245,58,549,111]

print(list1[::-1])

In [ ]:
#without end value
list1= [25,32,56,9855,65,78,55,52,98,89]
print(list1[3::])
print(list1[3:])
print(list1[:3])
print(list1[::3])
print(list1[3])
print(list1[1:3])
print(list1[1::3])

In [ ]:
list1 =["a","b","c","d","e"]
print(list1[::3])

In [ ]:
list1 = [9,19,29,39,49,59,69,79,89,99,109]
print(list1[3::])
print(list1[-3::])
print(list1[::-3])
print(list1[8:])

In [ ]:
#iterating a list
list1=[1,2,3,"sb",4,5,6,4,8,9,11]
for i in list1:
    print(i)
#print(list1)

In [ ]:
#iterate along with an index number
list1=[1,2,3,"sb",4,5,6,4,8,9,11]
for i in range(0,len(list1)):
    print(list1[i])

In [ ]:
#adding element to the list
#1 append
#2 insert
#3 extend

In [ ]:
#append()
list1=[1,2,3,4,5,"sb",6,4,8,9,11]
list1.append("Sb")
print(list1)

In [ ]:
#append the nested list at the end
list1=[1,2,3,4,5,"sb",6,4,8,9,11]
list1.append([10,15,20])
print(list1)

In [ ]:
#using insert()
list1=[1,2,3,4,5,"sb",6,4,8,9,11]
list1.insert(10,15)
print(list1)

In [ ]:
#using nested list at a position 3
list1=[1,2,3,4,5,"sb",6,4,8,9,11]
list1.insert(3,[10,15,20])
print(list1)

In [ ]:
#using extend
list1=[1,2,3,4,5,"sb",6,4,8,9,11]
list1.extend([10,15,20])
print(list1)

In [ ]:
#modify the items of a list
#indivisual item
#range item

In [ ]:
#indivisula item
list1=[2,4,6,8,10,12]
list1[0]=15
print(list1)

In [ ]:
#range item
#1st index 
list1=[2,4,6,8,10,12,56,66]
list1[1:5]=[12,14,16,18,20,22]
print(list1)

In [ ]:
#3rd index to end
list1=[2,4,6,8,10,12,56,66]
list1[3:]=[48,49,50,51,52]
print(list1)
list1[3::]=[4,5,8,7,7,7]
print(list1)

In [ ]:
#modify all items
list1=list([2,4,6,8,10,12,56,66])
for i in range(len(list1)):
    square=list1[i]*list1[i]
    list1[i]=square
print(list1)
"""
a=[2,3]
b=[2,3]
res=[x*y for x in a  for y in b] #it gives crossing
print(res)

res=[x*y for x,y in zip(a,b)]   # it multiple direct each other
print(res)"""

In [ ]:
list1=[2,4,6,8,10,12,56,66]    #imp
for i in range(len(list1)):
    square=list1[i]*list1[i]
    #print(square)
    list1[i]=square
print(list1)

In [ ]:
#removing elements from a list
#1 remove(item)
#2 pop(index)
#3 clear()
#4 delete

In [ ]:
#1 remove
list1=[2,4,6,8,10,12,56,66]
list1.remove(10)
list1.remove(56)
print(list1)

In [ ]:
list1=[6,6,6,8,10,6,12]
list1.remove(6)
print(list1)

In [ ]:
#remove using in for loop
list1=[6,6,6,8,10,6,12]
for item in list1:
    list1.remove(6)
print(list1)

In [ ]:
#remove item present at given index
list1=[6,15,16,8,10,26,12]
list1.pop(4)
print(list1)

In [ ]:
list1=[6,15,16,8,10,26,12]
list1.pop()
print(list1)

In [ ]:
#remove the range item
#in range 2 to 5
list1=[6,15,16,8,10,26,12]
del list1[:2]
print(list1)

In [ ]:
#using del to remove all items starting from index 3
list1=[6,15,16,8,10,26,12]
del list1[3:]
print(list1)

In [ ]:
#remove all items clear
list1=[6,15,16,8,10,26,12]
list1.clear()
print(list1)

In [ ]:
#finding an elementin the list
list1=[6,15,16,8,10,26,12]
print(list1.index(26))

In [ ]:
#concatenation of two lists
list1=[6,15,16,8,10,26,12]
list2=[118,155,166,118,110,126,112]
list3=list1+list2
print(list3)

In [ ]:
#extend method 
list1=[6,15,16,8,10,26,12,26]
list2=[118,155,166,118,110,126,112,24]
list1.extend(list2)
print(list1)

In [ ]:
#copying a list
# using asign(=) method
# copy

In [ ]:
#asign(=) method
list2=[118,155,166,118,110,126,112]
list1=list2
print(list1)

In [ ]:
#copy
list1=[118,155,166,118,110,126,112,116]
list3=list1.copy()
print(list3)

In [ ]:
#list operations
#1 sort
#2 reverse
#3 clear

In [ ]:
#sort
list1=[118,155,166,118,110,126,112]
list1.sort()
print(list1)

In [ ]:
#reverse
list1.reverse()
print(list1)

In [ ]:
#clear
list1=[118,155,166,118,110,126,112]
list1.clear()
print(list1)

In [ ]:
#using max and min
list1=[118,155,166,118,110,126,112]
print(max(list1))
print(min(list1))

In [ ]:
#using sum
list1=[118,155,166,118,110,126,112]
print(sum(list1))

In [ ]:
#all
#all trues
list1=[1,1,True]
print("all() all True values::",all(list1))

In [ ]:
#one false

In [ ]:
list1=[0,1,True,6]
print("all() with one false value::",all(list1))

In [ ]:
#all false
list1=[0,0,False]
print("all() with all false value::",all(list1))

In [ ]:
#any
list1=[1,1,True]
print("any() true values::",any(list1))
list2=[0,1,True,1]
print("any() one false value::",any(list2))
list3=[0,0,False]
print("any() all false values::",any(list3))

In [ ]:
#nested list
list1=[[1,2,3],[2,4,6]]
print("accessing the third element of the second list",list1[1][2])
for i in list1:
    print("list",i,"elements")
    for j in i:
        print(j)

In [ ]:
list1= [[8,18,28,38,48],[58,68,78,88,98]]
for i in list1:
    print("list",i,"elements")
    for j in i:
        print(j)

In [ ]:
list1=[[1,2,3],[2,4,6]]  #its not correct method



print(list1[0:1])
print(list1[1:3])

In [ ]:
#list comprehension
#1 expression
#2 variable
#3 inputlist
#4 condition1,condition2

In [ ]:
list1=[118,155,166,118,110,126,112]
squarelist=[var**2 for var in list1 if var%2==0]
print(squarelist)

In [ ]:
list1=[118,155,166,118,110,126,112]
squarelist=[var**2 for var in list1]
print(squarelist)
list1=squarelist
print(list1)

In [ ]:
list1=[s**2 for s in range (10)if s%2==0]
print(list1)

In [ ]:
#PYTHON IN SETS

In [ ]:
#creating a set
#1 create set from a list
#2 creating a set with mutable elements
#3 empty set

In [ ]:
# creating sets
#using curly bracket{}
set1={"sam","karan",20,125,35,45,45}
print(set1)

In [ ]:
#using set() constructor
#using set() constructor
set1=("sam","karan","kapil","Sharma","k","k")
print(set(set1))

In [ ]:
#1 create set from list
list1=[10,20,30,40,60,35,45,44,55]
set1=set(list1)
print(set1)

#
list1=list(set1)
print(list1)

In [ ]:
#2 creating a set with mutable elements
set1={'mark','jessa',[35,78,92]}
print(set1)      #error is correct answer do not anything

In [ ]:
emptyset={}
print(type(emptyset))

In [ ]:
# Accessing items of a set
set1={'harry potter','angels and demons','atlas shrugged'}
for i in set1:
    print(i)

In [ ]:
set1={2,4,"i am good"}
for i in set1:
    print(i)

In [ ]:
#checking if an item exists in set
set1={'harry potter','angels and demons','atlas shrugged'}
if 'harry potter' in set1:
    print("book exits in the set1")
else:
    print("book does not exist in the set1")
print("a man called ove" in set1)

In [ ]:
# find the length of a set
set1={'harry potter','angels and demons','atlas shrugged'}
print(len(set1))

In [ ]:
#adding items in set
#add
set1={'harry potter','angels and demons','atlas shrugged'}
set1.add('the god of small things')
print(set1)

In [ ]:
#update
#add more than one
set1={'harry potter','angels and demons','atlas shrugged'}
set1.update(['the god of small things','ramayanam'])  
print(set1)

In [ ]:
#removing items from a set
#1 remove()
#2 discard()
#3 pop()
#4 clear()
#5 del set

In [ ]:
s = {5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85}
s.discard(60)
print(s)
sa = s.pop()
print(s)

In [ ]:
set1={'harry potter','angels and demons','blue','atlas shrugged','yellow','red','white','yellow','blue'}
set1.remove('yellow')
print(set1)

set1.discard('blue')
print(set1)
deleted_item=set1.pop()
print(deleted_item)
del set1

In [ ]:
set1={'harry potter','angels and demons','atlas shrugged'}

In [ ]:
#set oprations
#1 union
#2 intersection
#3 diiference
#4 symmetric difference

In [ ]:
#union
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red'}
union=set1.union(set2)
print(union)

In [ ]:
#intersection of sets
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red'}
set3=set1.intersection(set2)
print(set3)

In [ ]:
#intersection update
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red'}
set1.intersection_update(set2)
print(set1)

In [ ]:
#differnce of sets
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red','black','white'}
print(set1.difference(set2))

In [ ]:
#difference update
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red','black','white'}
set1.difference_update(set2)
print(set1)

In [ ]:
#symmetric difference of sets
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red','balck','white'}
set3=set1.symmetric_difference(set2)
print(set3)

In [ ]:
#symmetric difference update
set1={'red','yellow','blue','white','black'}
set2={'indigo','orange','red','balck','white'}
set1.symmetric_difference_update(set2)
print(set1)

In [ ]:
#copying a set
#1 copy
#2 set()

In [ ]:
#copy
set2={'indigo','orange','red','balck','white'}
set1=set2.copy()
print(set1)


# using =
set2=set1
print(set1)

In [ ]:
#set
set2={'indigo','orange','red','balck','white'}
set1=set(set2)
print(set1)

In [ ]:
#issubset
#issuperset
set1={'red','yellow','blue','white','black'}
set2={'red','white'}
print(set2.issubset(set1))
print(set1.issubset(set2))
print(set2.issuperset(set1))
print(set1.issuperset(set2))

In [ ]:
#find whether two sets are disjoint
color_set1 = {'violet', 'blue', 'yellow', 'red'}
color_set2 = {'orange', 'red'}
color_set3 = {'green', 'orange'}
print(color_set2.isdisjoint(color_set1))
print(color_set3.isdisjoint(color_set1))

In [ ]:
#sort the set
set1 = {20, 4, 6, 10, 8, 15}
sorted_list=sorted(set1)
sorted_set=set(sorted_list)
print(sorted_set)

In [ ]:
#all() and any()
set1 = {1, 2, 3, 4}
set2 = {0, 2, 4, 6, 8}  
set3={True,True}
set4={True,False}
set5={False,0}
print('all() with all true values:',all(set1))
print('any() with all true values:',any(set1))
print('all() with one zero:', all(set2))  # False
print('any() with one Zero:', any(set2))  # True
print('all() with all True values:', all(set3))  # True
print('any() with all True values:', any(set3))  # True
print('all() with one False value:', all(set4))  # False
print('any() with one False:', any(set4))  # True
print('all() with all False values:', all(set5))  # False
print('any() with all False values:', any(set5))  # False

In [ ]:
#max and min
set1={2,4,6,10,8,15}
set2={'ABC','abc','abcd','ABCD'}
print(max(set1))
print(max(set2))
print(min(set1))
print(min(set2))

In [ ]:
#frozen set
rainbow = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
set1=frozenset(rainbow)
print(set1)

In [ ]:
#frozen set is immutable
rainbow = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
set1=frozenset(rainbow)
set1.add(set1)
print(set1)   #frozen set cannot change

In [ ]:
set1 = frozenset(('violet', 'indigo', 'blue', 'green'))
set2 = frozenset(('blue', 'green', 'red'))
print('the colors of the rainbow are:',set1.union(set2))
print('The common colors are:',set1.intersection(set2))
print('The unique colors in first set are:',set1.difference(set2))
print('The unique colors in second set are:',set2.difference(set1))
print('The unique colors second set are:',set1.symmetric_difference(set2))

In [ ]:
#nested sets
set1 = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
set2 = ('white', 'black', 'pink')
nested_set=set((frozenset(set1),frozenset(set2)))
for sample_set in nested_set:
    print(sample_set)

In [ ]:
#set comprehension
square_set = {var ** 2 for var in range(1, 10) if var % 2 == 0}
print(square_set)

In [ ]:
#python in tuple
##tuples
#number tuple
tuple1=(10,20,25.75)
print(tuple1)

In [ ]:
#string tuple
tuple1=('jessa','emma','kelly')
print(tuple1)

In [ ]:
#mixed tuple
tuple1=('jessy',22,44,66,[55,0.5])
print(tuple1)

In [ ]:
tuple1=tuple(('jessa',30,45.41,[20,30]))
print(tuple1)
tuple1 = ('jessa',30,45.41,[20,30])
print(tuple1)

In [ ]:
#create tuple with single item
single_tuple=('hello')
print(type(single_tuple))
print(single_tuple)

In [ ]:
#with comma
single_tuple1=('hello')
print(type(single_tuple1))
print(single_tuple1)

In [ ]:
#packing  and unpacking

In [ ]:
#packing
tuple1=1,2,'hello'
print(tuple1)

In [ ]:
#unpacking
tuple1 = (1, 2, 'hello')
i,j,k=tuple1
print(i,j,k)

In [ ]:
#length of tuple
tuple1=('p','y','t','h','o')
print(len(tuple1))

In [ ]:
#iterating a tuple
tuple1=tuple((1,2,3,'hello',[4,8,16]))
for i in tuple1:
    print(i)

In [ ]:
# accessing items in tuple
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(4):
    print(tuple1[i])

In [ ]:
#negative slicing/indexing
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
print(tuple1[-1])
print(tuple1[-2])

In [ ]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(-6,0):
    print(tuple1[i],end=', ')

In [ ]:
tuple1=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tuple1[1:5])
print(tuple1[:5])
print(tuple1[6:])

In [ ]:
# finding an item in a tuple
tuple1=(10,20,30,40,50)
position=tuple1.index(30)
print(position)

In [ ]:
# find with in a range
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
position=tuple1.index(60,2,6)
print(position)

In [ ]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
position=tuple1.index(10)
print(position)    # 0 gives   0,1,....

In [ ]:
#checking if an item exists    --->it gives true or false
tuple1=(10,20,30,40,50,60,70,80)
print(50 in tuple1)
print(500 in tuple1)

In [ ]:
#adding and changing items in a tuple
tuple1=(0,2,3,4,5,6,7,8)
sample_list=list(tuple1)
sample_list.append(60)
tuple1=tuple(sample_list)
print(tuple1)

In [ ]:
#modify nested items of a tuple
tuple1 = (10, 20, [25, 75, 85])
print(tuple1)
tuple1[2][0]=250
print(tuple1)

In [ ]:
tuple1 = (0, 1, 2, 3, 4, 5)
sample_list=list(tuple1)
sample_list[1]=10
tuple1=tuple(sample_list)
print(tuple1)

In [ ]:
#removing items from a tuple
#using keyword del ---->it shows error sampletup1 is not defined
#by converting it into a list
sampletup1 =(0,1,2,3,4,5,6,7,8,9,10)
print(sampletup1)

del sampletup1  #  whole items are deleted thats why it can not show

In [ ]:
#by converting into a list
tuple1 = (0, 1, 2, 3, 4, 5)
sample_list=list(tuple1)
sample_list.remove(2)
tuple1=tuple(sample_list)
print(tuple1)

In [ ]:
#count the occurrence of an item in a tuple
tuple1 = (10, 20, 60, 30, 60, 40, 60)
count=tuple1.count(60)
print(count)
count=tuple1.count(600)
print(count)

In [ ]:
#copying a tuple
tuple1=(1,2,3,4,5,6,7,9)
#copy tuple
tuple2=tuple1
print(tuple2)

#changing it into a list
sample_list=list(tuple2)
sample_list.append(55)
tuple2=tuple(sample_list)
print(tuple1)
print(tuple2)

In [ ]:
#concatenaing two tuples
tuple1=(1,2,3,4,56,78,22)
tuple2=(3,4,5,55,56,78,22)
tuple3=tuple1+tuple2
print(tuple3)

In [ ]:
#using the sum function
tuple1=(1,2,3,4,5)
tuple2=(3,4,5,6,7)
tuple3=sum((tuple1,tuple2),())
print(tuple3)

In [ ]:
#Using the chain() function
import itertools
tuple1=(1,2,3,4,5,6,7)
tuple2=(5,6,7,8,9,10,11,3)
tuple3=tuple(item for item in itertools.chain(tuple1,tuple2))
print(tuple3)

In [ ]:
tuple1=(1,2,3,4,5,6,7)
tuple2=(5,6,7,8,9,10,11,3)
tuple4=tuple1+tuple2
print(tuple4)

In [ ]:
#nested tuples
nested_tuple=((20,40,60),(80,100,120),"python")
print(nested_tuple[2][0])

In [ ]:
#minimum and maximum
tuple1 = ('xyz', 'zara', 'abc')
# The Maximum value in a string tuple
print(max(tuple1))  
# Output zara

# The minimum value in a string tuple
print(min(tuple1))
# Output abc

tuple2 = (11, 22, 10, 4)
# The Maximum value in a integer tuple
print(max(tuple2))
# Output 22
# The minimum value in a integer tuple
print(min(tuple2))
# Output 4            note-->we can't find the max and min mixed type of tuple
                       #eg---->(1,2,"a")

In [ ]:
#all 
# all() with All True values
tuple1 = (1, 1, True)
print(all(tuple1))  # True

# all() All True values
tuple1 = (1, 1, True)
print(all(tuple1))  # True

# all() with One false value
tuple2 = (0, 1, True, 1)
print(all(tuple2))  # False

# all() with all false values
tuple3 = (0, 0, False)
print(all(tuple3))  # False

# all() Empty tuple
tuple4 = ()
print(all(tuple4))

In [ ]:
#any 
# any() with All True values
tuple1 = (1, 1, True)
print(any(tuple1))  # True

# any() with One false value
tuple2 = (0, 1, True, 1)
print(any(tuple2))  # True

# any() with all false values
tuple3 = (0, 0, False)
print(any(tuple3))  # False

# any() with Empty tuple
tuple4 = ()
print(any(tuple4))  # False

In [ ]:
#dictionary
#1 ordered
#2 unique
#3 mutable

#creating dictionary {} and to seperate key and value is indicates (:) and ,

In [ ]:
dict1={"name":"jessa","country":"usa","telephone":1100}
print(dict1)
dict2=dict({"name":"jessa","country":"usa","telephone":1100})
print(dict2)
dict3=dict([("name","jessa"),("country","usa"),("telephone",1100)])
print(dict3)
dict4={"name":"jessa",10:"mobile"}
print(dict4)
dict5={"name":"jessa","mobile":[9158,7058,8149]}
print(dict5)

In [ ]:
# accessing element of dictionary
dict1={"name":"jessa","country":"usa","telephone":1100}
print(dict1["name"])
print(dict1.get("telephone"))

In [ ]:
# get all keys and values
dict1={"name":"jessa","country":"usa","telephone":1100}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

#print(dict1.get("country"))

In [ ]:
#iterating dictionary
dict1={"name":"jessa","country":"usa","telephone":1100}

print('key',':','values')
for key in dict1:
    print(key,':',dict1[key])

print('key',':','values')
for key_value in dict1.items():
    print(key_value[0],":",key_value[1])

In [ ]:
#length of dictionary
dict1={"name":"jessa","country":"usa","telephone":1100}
print(len(dict1))

In [ ]:
#adding items to the dictionary
# 1) using key values
# 2) using update method

In [ ]:
dict1={"name":"jessa","country":"usa","telephone":1100}
dict1["weight"]=50
dict1.update({"height":5.6})
print(dict1)

In [ ]:
dict1={"name":"jessa","country":"usa","telephone":1100}
dict1.update({"weight":50,"height":5.6})
print(dict1)

In [ ]:
dict1={"name":"jessa","country":"usa","telephone":1100}
dict1.update([("city","texas"),("company","google")])
print(dict1)

In [ ]:
# set default value to a key
dict1={"name":"jessa","country":"usa","telephone":1100}
dict1.setdefault('state','texas')
dict1.setdefault("zip")
print(dict1)

In [ ]:
#modify the values of the dictionary keys:
dict1 = {"name": "Jessa", "country": "USA"}
dict1["country"]="canada"
print(dict1["country"])

dict1.update({"country":"usa"})
print(dict1["country"])
print(dict1)

In [ ]:
# removing item
#pop(key[,d])
#popitem()
#del key
#clear
#del dict1
dict1 = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}
deleted_item=dict1.popitem()
print(deleted_item)
print(dict1)
deleted_item=dict1.pop("telephone")
print(deleted_item)
del dict1["weight"]
print(dict1)
dict1.clear()
print(dict1)

In [ ]:
dict1 = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}


del dict1

In [ ]:
#checking if a keys exists
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
key_name="country"
if key_name in person.keys():
    print("country name is",person[key_name])
else:
    print("key not fount")

In [ ]:
#join two dictionies
# update
#  ** keywords
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Olivia': 66}
dict1.update(dict2)
print(dict1)

In [ ]:
# using **kwargs to unpack
student_dict1 = {'Aadya': 1, 'Arul': 2, }
student_dict2 = {'Harry': 5, 'Olivia': 6}
student_dict3 = {'Nancy': 7, 'Perry': 9}
student_dict = {**student_dict1, **student_dict2, **student_dict3}
print(student_dict)

In [ ]:
# join two dictinaries having few items in common
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Emma': 66}
dict1.update(dict2)
print(dict1)
print(dict1['Emma'])

In [ ]:
#copy dictionary 
#using copy()
#using dict()
dict1 = {'Jessa': 70, 'Emma': 55}
dict2 = dict1.copy()
print(dict2)
dict3 = dict(dict1)
print(dict3)
dict4 = dict(dict1.items())
print(dict4)
#assign operator
dict5=dict4
print(dict5)

In [ ]:
# nested dictionary
# address dictionary to store person address
address = {"state": "Texas", 'city': 'Houston'}

# dictionary to store person details with address as a nested dictionary
person = {'name': 'Jessa', 'company': 'Google', 'address': address}

# Display dictionary
print("person:", person)

# Get nested dictionary key 'city'
print("City:", person['address']['city'])

# Iterating outer dictionary
print("Person details")
for key, value in person.items():
    if key == 'address':
        # Iterating through nested dictionary
        print("Person Address")
        for nested_key, nested_value in value.items():
            print(nested_key, ':', nested_value)
    else:
        print(key, ':', value)

In [ ]:
# add multiple dictionaries inside a single dictionary
# each dictionary will store data of a single student
jessa = {'name': 'Jessa', 'state': 'Texas', 'city': 'Houston', 'marks': 75}
emma = {'name': 'Emma', 'state': 'Texas', 'city': 'Dallas', 'marks': 60}
kelly = {'name': 'Kelly', 'state': 'Texas', 'city': 'Austin', 'marks': 85}

# Outer dictionary to store all student dictionaries (nested dictionaries)
class_six = {'student1': jessa, 'student2': emma, 'student3': kelly}

# Get student3's name and mark
print("Student 3 name:", class_six['student3']['name'])
print("Student 3 marks:", class_six['student3']['marks'])

# Iterating outer dictionary
print("\nClass details\n")
for key, value in class_six.items():
    # Iterating through nested dictionary
    # Display each student data
    print(key)
    for nested_key, nested_value in value.items():
        print(nested_key, ':', nested_value)
    print('\n')

In [ ]:
#sort dictionary
dict1 = {'c': 45, 'b': 95, 'a': 35}
print(sorted(dict1.items()))
print(sorted(dict1))
print(sorted(dict1.values()))

In [ ]:
#dictionary comprehension
numbers = [1, 3, 5, 2, 8]
even_squares = {x: x ** 2 for x in numbers if x % 2 == 0}
print(even_squares)

In [ ]:
telephone_book = [1178, 4020, 5786]
persons = ['Jessa', 'Emma', 'Kelly']

telephone_Directory = {key: value for key, value in zip(persons, telephone_book)}
print(telephone_Directory)
# Output {'Jessa': 1178, 'Emma': 4020, 'Kelly': 5786}

In [ ]:
#dictionary in max() and min()
dict1 = {1:'aaa',2:'bbb',3:'AAA'}
print('Maximum Key',max(dict1)) # 3
print('Minimum Key',min(dict1)) # 1

In [ ]:
# All
#dictionary with both 'true' keys
dict1 = {1:'True',1:'False'}

#dictionary with one false key
dict2 = {0:'True',1:'False'}

#empty dictionary
dict3= {}

#'0' is true actually
dict4 = {'0':False}

print('All True Keys::',all(dict1))
print('One False Key',all(dict2))
print('Empty Dictionary',all(dict3))
print('With 0 in single quotes',all(dict4))

In [ ]:
# Any 
#dictionary with both 'true' keys
dict1 = {1:'True',1:'False'}

#dictionary with one false key
dict2 = {0:'True',1:'False'}

#empty dictionary
dict3= {}

#'0' is true actually
dict4 = {'0':False}

#all false
dict5 = {0:False}

print('All True Keys::',any(dict1))
print('One False Key ::',any(dict2))
print('Empty Dictionary ::',any(dict3))
print('With 0 in single quotes ::',any(dict4))
print('all false :: ',any(dict5))

In [ ]:
s1=(1,2,23,54,2,3,14,0,45)
type(s1)

In [ ]:
s1=(65,54,6,3,54,45,45,5)
s2=[21,1,0,25,4,33,5,0,5]
s2,s1
s3={12,1,21,5,7,6,77,4,5,1}
s3

In [ ]:
s2=(25,54,54,66,585,55,66,25,545,55,55)
s2

In [ ]:
s2=(22,56,988,"G",22,22,66,55)
s2

In [ ]:
s3=(21,"sb",22,87,65)
s3

In [ ]:
set1={1,2,3,4,56}
set2={4,5,6,7,56}
set1.union(set2)

In [ ]:
set1={1,2,3,4,5,6,7,8,9}
set2={5,6,7,6,7,8,9}
set1.union(set2)

In [ ]:
set1={54,65,85,98,74,53,25,65,89,45}
set2={25,36,34,15,65,62,64,53,54,42}
set1.union(set2)

In [ ]:
set1={1,3,6,5,7,8,9,0}
set2={0,2,5,566,66,4}
set1.union(set2)

In [ ]:
set1={25,35,65,55,89,55,55}
set2={21,65,65,55,8}
set1.union(set2)
print(set1.union(set2))

In [ ]:
set1={25,35,66,89,87,25}
set2={22,36,96,48}
set1.union(set2)

In [ ]:
set1={2,3,5,3,88,98}
set2={23,56,66,66,6,66,8}
set1.union(set2)

In [ ]:
set1={32,45,66,88}
set2={33,22,98,85}
set1.union(set2)

In [ ]:
#gcd or hcf
m=int(input())
n=int(input())
d=min(m,n)
while True:
    if m%d==0 and n%d==0:
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
#hcf
m=int(input())  
n=int(input())  
d=min(m,n)   
while True:
    if m%d==0 and n%d==0:   
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
d=min(m,d)
while True:
    if m%d==0 and n%d==0:
        print(d,"is the number")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
d=min(m,n)
while True:
    if m%d==0 and n%d==0:
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
d=min(m,n)
while True:
    if m%d==0 and n%d==0:
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
d=min(m,n)
while True:
    if m%d==0 and n%d==0:
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
d=min(m,n)
while True:
    if (m%d==0 and n%d==0):
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
lcm=max(m,n)
while True:
    if ((lcm%m==0) and (lcm%n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
m=int(input())
n=int(input())
lcm=max(m,n)
while True:
    if ((lcm%m==0) and (lcm%n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
m=int(input())
n=int(input())
lcm=max(m,n)
while True:
    if ((lcm%m==0) and (lcm%n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
m=int(input())
n=int(input())
d=min(m,n)
while True:
    if (m%d==0 and n%d==0):
        print(d,"is the gcd")
        break
    else:
        d=d-1

In [ ]:
m=int(input())
n=int(input())
lcm=max(m,n)
while True:
    if ((lcm%m==0) and (lcm%n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
#lcm
m=int(input())
n=int(input())
lcm=max(m,n)

while True:
    if ((lcm % m==0) and (lcm% n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
#lcm
m=int(input())
n=int(input())
lcm=max(m,n)
while True:
    if ((lcm % m==0) and (lcm % n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
height=float(input("enter the height"))

In [ ]:
height=float(input('enter the height'))

In [ ]:
float(123)

In [ ]:
bool(56)

In [ ]:
hex(25)

In [ ]:
bool('santosh')

In [ ]:
bool("negative")

In [ ]:
bool("123")

In [ ]:
bool(123)

In [ ]:
s1=(3,5,7,23)
tuple(s1)

In [ ]:
age=int(input("enter the age"))
if age >=18:
    print ("eligible for vote")
    print("eligible for pancard")
else:
    print("not eligible")

In [ ]:
percentage=int(input("enter the percentage"))
if percentage>=80:
    print("first class")
elif percentage>=70:
    print("second class")
elif percentage>=40:
    print("third class")
else:
    print("fail")

In [ ]:
percentage=int(input("enter your percentage"))
if percentage>=100:
    print("enter a valid percentage")
elif percentage>=80:
    print(1 ,"class with distingution")
elif percentage >=60:
    print(2 ,"nd class")
elif percentage >=40:
    print("you are passed")
else:
    print("fail")

In [ ]:
x=5
print("x before values are the",x)

In [ ]:
tuple1=(1,2,5,6,6,5,55,5,5,5)
tuple2=(1,555,55,55,6,6,2,2)
tuple3=tuple1+tuple2
tuple3

In [ ]:
tuple1=(1,2,3)*3
tuple1

In [ ]:
tuple1=(1,2,3,5,6)
tuple2=(5,5,9,8,4)
tuple3=tuple1+tuple2
tuple3
print(tuple3*3)

In [ ]:
rad=int(input("enter the value of radius"))
area =3.14*(rad**2)
print(area)

In [ ]:
rad=int(input("value of radius is"))
area=3.14*(rad**2)
print(area)

In [ ]:
rad=int(input("enter a radius"))
area=3.14*(rad**2)
print(area)

In [ ]:
rad=int(input("enter the value of radius"))
area=3.14*(rad**2)
print(area)

In [ ]:
x=int(input('enter the value is'))
if x%2==0:
    print(x,"is the even no.")
else:
    print(x,"is the odd no.")

In [ ]:
x=int(input("enter the number"))
if x%2==0:
    print(x,"is the even no.")
else:
    print(x,"is the odd no.")

In [ ]:
x=17
i=int(input())
z=x-i                         #assignment question
if x<=i:
    print(z,"is negative")
#elif x==i:
    #print(0)
else:
    print(z,"is positive")

In [ ]:
x=int(input("enter the value"))
if x>0:
    print("given no is positive")
elif x==0:
    print("given no is zero")
else:
    print("given no is negative")

In [ ]:

marks=int(input())
if marks>80:
    print("first class")
elif marks>70:
    print("second class")
elif marks>60:
    print("third class")
elif marks>40:
    print("pass")
else:
    print("fail")

In [ ]:
print("welcome to central bank")
name=input("may i have your name?:")
print("hey",name,"welcome to central bank")
acc_no=int(input("may i have your acc no?:"))
acc_bal=int(input("please enter your acc balance:"))
bal_added=int(input("enter the amount needed to be added:"))
final=acc_bal+bal_added
print("thanks for using central bank")
print("your transaction is completed")

In [ ]:
age=int(input("may i know your age?:"))
if age>=18:
    nationality=input("enter your nationality:")
    if (nationality=="indian" or nationality=="indian"):
        print("you are eligible for vote")
    else:
        y=input("enter your location")
        if (y=="india" or y=="india"):
            years=int(input("how many years you have staying in india?:"))
            if years>=5:
                print("you are eligible for voting")
            else:
                print("you are not eligible for voting")
        else:
            print("you are not eligible for voting")
else:
    print("sorry you are not eligible for vote")

In [ ]:
s1="flow of control in python"
for i in s1[1:8]:
    print(i)

In [ ]:
print("#".join("12345"))

In [ ]:
print("i love my country".find("o",2,11))  #count

In [ ]:
for i in range(7,-2,-9):
    for j in range (i):
        print(j)

In [ ]:
l=["A","B","C","D","E"]
for i in range(len(l)-1):
    l.pop()
    print(l)

In [ ]:
x=int(input("enter a no"))
if x%2==0:
    print(x,"is even no.")
else:
    print(x,"is odd no")

In [ ]:
y=int(input("enter the number"))
if y%2==0:
    print(y,"is the even no")
else:
    print(y,"is the the odd no")

In [ ]:
l1=[21,32,66,23,5455]
for i in l1:
    if i%2==0:
        print(i,"is the even no")
    else:
        print(i,"is the odd no")

In [ ]:

l1=[1,2,3,4,5,6,7,8,9,13,12,45,65,477,5,22]
odd=[]
even=[]
for i in l1:
    if i%2==0:
        even.append(i)
        
    else:
        odd.append(i)
    i+=1
    
print("the odd numbers:")
for j in odd:
    print(j)
    
print("the even numbers:")
for i in even:
    print(i)

In [ ]:
odd=[]
even=[]
for i in range(1,20):
    if i%2==0:
        even.append(i)
        
    else:
        odd.append(i)
    i+=1
    
print("the odd numbers:")
for j in odd:
    print(j)
    
print("the even numbers:")
for i in even:
    print(i)

In [ ]:
sum=0
n=int(input("total number of values you want to enter:"))
for i in range(1,2*n+1,2):
    print(i)
    sum+=i
    
average=sum/n
print(sum)
print("average of first n odd numbers",average)

In [ ]:
#for loop
l2=[]
num1=int(input("enter no of iterations"))
for i in range (num1):
    num=int(input())
    l2.append(num)
    
print(l2)
sum1=0
for j in l2:
    sum1+=j
    
print(sum1)
print(num1)
average=sum1/num1
print(average)

In [ ]:
l1=[]
num1=int(input("no of iterations"))
for i in range(num1):
    num=int(input())
    l1.append(num)

print(l1)
sum1=0
for j in l1:
    sum1+=j
print(sum1)
print(num1)
average=sum1/num1
print(average)

In [ ]:
l1=[]
num1=int(input("no of iterations"))
for i in range (num1):
    num=int(input())
    l1.append(num)
print(l1)
sum1=0
for j in l1:
    sum1+=j
print(sum1)
print(num1)
average=sum1/num1
print(average)

In [ ]:
l1=[]
num1=int(input("no of iterations"))
for i in range(num1):
    num=int(input())
    l1.append(num)
print(l1)
sum1=0
for j in l1:
    sum1+=j
print(sum1)
print(num1)
average=sum1/num1
print(average)

In [ ]:
num=int(input("enter the number want to factorial"))
fact=1
for i in range(1,num+1):
    fact=fact*i
    print(fact)

In [ ]:
#while loop
n=int(input("enter the number of iteration"))
count=0
sum=0
while count<n:
    num=int(input())
    sum+=num
    count+=1
average=sum/n
print("average is",average)

In [ ]:
n=int(input("enter a number for which we want to factorial"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

In [ ]:
num=int(input("enter factorial"))
count=1
fact=1
while count<num+1:
    fact=fact*count
    count+=1  
    print(fact)

In [ ]:
for i in range(1,51):
    if i==45:   # >take to equal amount
        break
    print(i)

In [ ]:
for i in range (1,60):
    if i%3==0:
        continue
    print(i)

In [ ]:
for i in range(1,15):
    if i%3==0:
        print(i)
        continue

In [ ]:
for i in range(1,15):
    if i%3==0:
        continue
    print(i)
    
for i in range(1,15):
    print(i)
    if i%3==0:
        break

In [ ]:
for i in range(1,15):
    if i%3==0:
        continue
    print(i)
    
for i in range(1,15):
    if i%3==0:
        print(i)
    continue

In [ ]:
for i in range(1,15):
    pass
print(i)

In [ ]:
n=int(input("enter no of iterationss"))
count=0
sum1=0
while count<n:
    num=int(input("enter the value"))
    sum1+=num
    count+=1
average=sum1/n
print(average)

In [ ]:
items=["bread","coffee","book"]
items.append("flour")
items.append("coffee")
items[2]=("booklet")
items.append("coffee")
items.append(5)
items
items[1]=("5star")
items

In [ ]:
items=["bread","coffee","book"]
items.append("flour")
items[2]
items.append(5)
items

In [ ]:
items[-1]=("tea")
items

In [ ]:
items[-1]=("green tea")
items

In [ ]:
items.append("tea")
items

In [ ]:
set1={1,2,3,4,5,6,7,89,78}
set1
set1={1,3,5,4}
set1
set1.pop()
set1.pop()
set1

In [ ]:
set1={1,2,3,4,5,6,7}
set1.pop()
print(set1)

In [ ]:
items=["bread","sugar","book"]
items.pop(1)

In [ ]:
password=("x","t","g","t","q",3,4,6)
password[4]
set1={1,2,3,4,4,3,4,2,4,24,2,4,3,4}
set1
set1={234,1,3,12,1213,45,12,4,4,24,24,24,21,4,5,5,26}
set1
set1.pop()
set1.pop()
set1.pop()
set1
list1=[15,13,5,20,16,14,14,16,14,16,14,1,6,9]
list1[6:]

In [ ]:
list1=[12,65,23,6566,55,66]
list1[5:]
list1[5]

In [ ]:
list1=[12,65,22,3,55,55,22,5]
list1[3:]

In [ ]:
dict1={23,65,6,55,66,52,33,33,32,55,66,}
dict1

In [ ]:
dict1={1:23,2:65,3:6,4:55,5:66,6:52,7:33,8:33,9:32,10:55,11:66,}
dict1

In [ ]:
dict1.keys()

In [ ]:
dict1.values()

In [ ]:
dict1.items()

In [ ]:
dict1={1:2,2:3,3:4,4:32,5:6}
dict1["eleven"]=15
dict1

In [ ]:
list1=[12,65,22,3,55,55,22,5]
list1.append(4)
list1

In [ ]:
list1.append([10,15,20])
list1

In [ ]:
list1.extend([10,15,20])
list1

In [ ]:
list1.append(4)
list1

In [ ]:
n=int(input("enter the total no of students"))
count=0
passed=[]
failed=[]
while count<n:
    marks=int(input())
    if marks<=0:
        break
    elif marks>=35:
        passed.append(marks)
    else:
        failed.append(marks)
    count+=1
print(passed)
len(passed)

In [ ]:
limit=int(input("enter your credit limit"))
expend=[]
sum=0
while sum<limit:
    amount=int(input("enter the amount"))
    if amount<=0:
        break
    else:
        sum+=amount
        expend.append(amount)
print("total amount is",sum)
print("the purchase made is",expend)
print("the amount left is",(limit-sum))

In [ ]:
password=input("enter a password")
digit=[]
upper=[]
lower=[]
special=[]
space=[]
x=password.split()
print(x)
for letter in password:
    if letter.isdigit():
        digit.append(letter)
    elif letter.isupper():
        upper.append(letter)
    elif letter.islower():
        lower.append(letter)
    elif letter.isspace():
        space.append(letter)
    else:
        special.append(letter)
if (len(digit)>=1 and len(upper)>=1 and len(lower)>=1 and len(special)>=1 and len(space)==0 and len(password)>=8):
    print('it is good password')
else:
    print("it is not good password")
    if len(digit)==0:
        print("please enter a digit")
    if len(upper)==0:
        print("please enter a upper case")
    if len(lower)==0:
        print("please enter a lower case")
    if len(special)==0:
        print("please enter a special character")
    if len(password)<0:
        print("please enter a password of length 8 or more than 8")

In [ ]:
password

In [ ]:
password="Santosh1920b@"
x=password.split(sep="1920")
print(x)

In [ ]:
str1="santosh belge"
str1.replace("santosh","san")

In [ ]:
str1="   santosh belge"
len(str1)

In [ ]:
str1.strip()

In [ ]:
x=str1.center(20,"!")
x

In [ ]:
str1.capitalize()
y=str1.strip()
z=y.capitalize()
print(z)
str1.count("t")
z.count("t")
str1.endswith("sb")
y.endswith("9158")

In [ ]:
str1.find("t")

In [ ]:
str1=("santosh")
str1.find("h")

In [ ]:
str1.index("h")

In [ ]:
let=input()
str1=input()

x=str1.find(let)

if x==-1:
    print("not present")
else:
    print(x,"is the index")

In [ ]:
str1=("santosh belge")
str1.isascii()
str1.isdecimal()
str1.istitle()
str1.title()
str1.upper()
str1.join("  ")
str2=("Tq")
str1.join(str2)
x="santoshbelge!"
y=x.split("!")
print(y)
for i in y:
    z.join(i)
print(z)

In [ ]:
str1

In [ ]:
str1.removeprefix("san")

In [ ]:
str1.removesuffix("ge")

In [ ]:
str1.swapcase()

In [ ]:
str1.replace("SA")

In [ ]:
str1=123
str1

In [ ]:
str1=input()
'''
if (str1[0]=="-" or str1[0]=="+"):
    x=str1[1:]
    if x.isdigit(1):
        print("str1 is an integer")
    else:
        print("str1 is not integer")
'''
if str1.isdigit():
    print("str1 is an integer")
else:
    print("str1 is not integer ")

In [ ]:
username=input("enter a username")
alpha=[]
dig=[]
space=[]
special=[]
if len(username)>=8:
    if (username[0]=="@"):
        x=username[1:]
        for i in x:
            if i.isalpha():
                alpha.append(i)
            elif i.isdig():
                dig.alpha(i)
            elif i.isspace():
                spa.append(i)
            else:
                special.append(i)
            
if len(username)>=8 and username[0]=="@":
    if (len(aplpha)>0 and len(dig)>0 and len(spa)==0):
        y=username[-2:]
        if y.isdigit():
            print("valid username")
        else:
            print("invalid username")
            if len(alpha)==0:
                print("enter alphabet")
            if len(dig)==0:
                print("enter a number")
            if len>0:
                print("remove the space")
            if y.isalpha() or y.isspace() or y.isalnum():
                print("enter a numer at last")
else:
    if len(username)<8:
        print("enter username more than 8")
    if username[0]!="@":
        print("enter @ symbolsdfg at the startng")

In [ ]:
l3=[1,2,3,4,6,6,8,9]
l3=[i**4 for i in l3]
    
l3

In [ ]:
l1=[4,5,6,7,8,9,10,11,12]
l2=[i+j for i in l1 for j in l3]
l2

In [ ]:
l1=[1,2,3,4,5,6]
l2=[1,2,3,4,5,6]
l3=[x+y for x in l1 for y in l2]
print(len(l3))
l4=[]
for i in l3:
    if i>5:
        l4.append(i)
print(l4)
l3
probablity=len(l4)/len(l3)
print(probablity)
l5=[x+y for x in l1 for y in l2 if x+y>6]
p_A=len(l5)/36
print(p_A)
l5

In [ ]:
l6=["h","t"]
l3=["h","t"]
l1=["h","t"]
l2=["h","t"]
l4=[x+y+z+w for x in l1 for y in l2 for z in l3 for w in l6]
l4
h=0
t=0
print(l4)
for i in l4:
    b=i.count("t")
    print("no of tails is",b)
    a=i.count("h")
    print("no of heads is",a)
    if a==2:
        h+=1
    if b==3:
        t+=1
print(h)
print(t)
print(h/len(l4))

In [ ]:
l1=[1,2,3,4,5,7,8]
l1.append(10)
l1.append([11,12,13,14,15])
l1.extend([11,12,13,14,15])
l1.insert(6,7) #position add the element to that position
l1
#append inserts at the last of the list multiple elements gets added at a single index
#extend inserts one or more elements at last of list multiple elements gets added at a single index
#insert inserts at a specific of list ,can only add one element 
#l1[9]=sum(l1[9])
l1[9]=max(l1[9])
str1="TQ - Python"
#str1[6]="t"
print(str1.capitalize())
print(str1)
#string is immutable
l1

In [ ]:
l1=[1,2,3,5,6,7,8,9,10,11,12,123]
l1.remove(123)
l1

In [ ]:
l1.clear()
l1

In [ ]:
l1

In [ ]:
l1=[1,2,3,5,6,7,8,9,10,11,12,123]
l1.index(123)

In [ ]:
l1=[1,2,3,5,6,7,8,9,10,11,12,123]
l1.reverse()
l1

In [ ]:
l1.sort()
l1

In [ ]:
l1=[1,2,3,5,6,7,8,9,10,11,12,25,654,123]
l1.sort(reverse=True)
l1

In [ ]:
name=("santosh")
x=name.split()
x

print(x)

In [ ]:
y=["SAntosh"]
y.reverse()
y

In [ ]:
tuple1=(3,0,1,2,3,4,5,"san",55)
print("count of 5 in tuple1",tuple1.count(5))
tuple1.index(5)
print("type of tuple1",type(tuple1))
tuple2=(5,5,6,86,87)
print("type of tuple2",type(tuple2))
print(max(tuple2))
print(min(tuple2))
sum(tuple2)

In [ ]:
tuple2=(1,5)
sum(tuple2)

In [ ]:
s1={"saap",1,2,3,45,56,45,4,"san"}
s1

In [3]:
str1="san"
str1.isascii()       #order is fixed programing value used to alphabetical
ord("n")

110

In [ ]:
100,1000,2
s3={1,2,35,54,2,54,655,25,22,22,522,2,5,55,"santosh","belge"}
s3

In [ ]:
s3={1,1.4,2.6,5.3,6,5323.5,10.5,0.4,1.005,100.5,156.3,"anjali","sunny","vaibhav",1.000000005}
s3

In [ ]:
s5={22,22,3,555,55,35.5,55,5.3,0.02,0.225,222,22,2,2}
s5

In [4]:
z="my name is sb alurkar and i am learning python"
c=[]
for i in z:
    c.append(i)
    
print(len(c))
print("unique characters of string are",len(set(c)))

46
unique characters of string are 19

In [5]:
a="highh  jjndj jdjdjj"
print(len(a))
print(len(set(a)))

19
7

In [6]:
set1={1,3,4,5,6,7,9,78,54,2,44,55}
set1

{1, 2, 3, 4, 5, 6, 7, 9, 44, 54, 55, 78}

In [7]:
set1.add(10)
set1

{1, 2, 3, 4, 5, 6, 7, 9, 10, 44, 54, 55, 78}

In [8]:
set1.clear()
set1

set()

In [9]:
set1={1,3,4,5,6,7,9,78,54,2,44,55}
set2=set1.copy()
set2

{1, 2, 3, 4, 5, 6, 7, 9, 44, 54, 55, 78}

In [10]:
set1.discard(10)
set1

{1, 2, 3, 4, 5, 6, 7, 9, 44, 54, 55, 78}

In [11]:
set1.pop()
set1

{2, 3, 4, 5, 6, 7, 9, 44, 54, 55, 78}

In [12]:
set1.discard(54)
set1

{2, 3, 4, 5, 6, 7, 9, 44, 55, 78}

In [13]:
set1.remove(78)
set1

{2, 3, 4, 5, 6, 7, 9, 44, 55}

In [14]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 9, 44, 54, 55, 78}

In [15]:
set1.union(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 9, 44, 54, 55, 78}

In [16]:
set1={1,2,3,4,5,6,7,89,54}
set2={1,2,3,8,65,22,55,55,558,65,12,32}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 12, 22, 32, 54, 55, 65, 89, 558}

In [17]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 65, 8, 12, 22, 89, 32, 558, 54, 55}

In [18]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 12, 22, 32, 54, 55, 65, 89, 558}

In [19]:
set1.difference(set2)

{4, 5, 6, 7, 54, 89}

In [20]:
set1.intersection_update(set2)

In [21]:
set1

{1, 2, 3, 8, 12, 22, 32, 55, 65, 558}

In [22]:
set1={1,2,5,55,5,6,8,9,10,2,5,2,52,5,5}
set2={6,7,85,55,5,5,10,12,2,5}
set1.union(set2)

{1, 2, 5, 6, 7, 8, 9, 10, 12, 52, 55, 85}

In [23]:
set1.update(set2)
set1

{1, 2, 5, 6, 7, 8, 9, 10, 12, 52, 55, 85}

In [24]:
set1.difference(set2)

{1, 8, 9, 52}

In [25]:
set1.intersection(set2)

{2, 5, 6, 7, 10, 12, 55, 85}

In [26]:
set1.symmetric_difference(set2)

{1, 8, 9, 52}

In [27]:
set1.isdisjoint(set2)

False

In [28]:
set1.issubset(set2)

False

In [29]:
set1.issuperset(set2)

True

In [30]:
print(set1.difference(set2))

{8, 1, 52, 9}

In [31]:
print(set1.intersection(set2))

{2, 5, 6, 7, 10, 12, 85, 55}

In [32]:
print(set1.symmetric_difference(set2))

{1, 8, 9, 52}

In [33]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("",end="")
    for j in range((n-i)-1):
        print(chr(97+j),end=" ")
    print()

In [34]:
n=521
while n>228:
    if n%2!=0:
        print(n)
    n=n-1

521
519
517
515
513
511
509
507
505
503
501
499
497
495
493
491
489
487
485
483
481
479
477
475
473
471
469
467
465
463
461
459
457
455
453
451
449
447
445
443
441
439
437
435
433
431
429
427
425
423
421
419
417
415
413
411
409
407
405
403
401
399
397
395
393
391
389
387
385
383
381
379
377
375
373
371
369
367
365
363
361
359
357
355
353
351
349
347
345
343
341
339
337
335
333
331
329
327
325
323
321
319
317
315
313
311
309
307
305
303
301
299
297
295
293
291
289
287
285
283
281
279
277
275
273
271
269
267
265
263
261
259
257
255
253
251
249
247
245
243
241
239
237
235
233
231
229

In [ ]:
for i in range (100,5):
    print(i)
range(100)

In [ ]:
range(10,100)

In [ ]:
sum1=0
for i in range(11):
    sum1+=i
    print("the value of i after iteration is",i)
    print(sum1)
print(sum1)

In [ ]:
num=int(input("enter a value"))
for i in range(2,num+1):
    for j in range(2,((i+1//2))):
        if i%j==0:
            break
    else:
        print(i)        #prime  numbers

In [ ]:
x=123
y=456
print("the numbers without swapping",x,"and",y )
x,y=y,x
print("the numbers after swapping",x,"and",y)

In [ ]:
str1=input()
c=0
vowels=["A","E","I","O","U","a","e","i","o","u"]
for letter in str1:
    if letter in vowels:
        c=c+1
print("the count of vowels in string is",c)

In [35]:
sentence=input()
word=sentence.split()
print(word)
for i in word:
    c=word.count(i)
    print(c,i)

senete
['senete']
1 senete

In [ ]:
sentence=input()
word=sentence.split()
print(word)
for i in word:
    c=word.count(i)
    print(c,i)

In [ ]:
sentence=input()
x=sentence.swapcase()
print(x)

In [ ]:
n=int(input())
fact=1
sum=0
for i in range(1,n+1):
    fact=fact*i
    sum+=fact
print(fact)
print(sum)

In [ ]:
m=int(input())
n=int(input())
d=min(m,n)       #hcf or gcd

while True:
    if ((m%d==0) and (n%d==0)):
        print(d,"is the gcd")
        break
    else:
        d=d-1
lcm=m*n/d
print(lcm)

In [ ]:
m=int(input())
n=int(input())
lcm=max(m,n)
while True:
    if ((lcm%m==0) and (lcm%n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
x=int(input("enter the base"))
y=int(input("enter the index"))
power=x**y
print("x to the power y",power)

In [ ]:
num=input()
d=input()
c=0
for i in num:
    if i==d:
        c+=1
print(c/len(num))

In [ ]:
num=int(input())
sum=0
n1=str(num)

temp=num
while temp>0:
    digit=temp%10
    sum+=digit**len(n1)
    temp//=10
if num==sum:
    print(num,"is an armstrong number")
else:
    print(num,"is not armstrong number")

In [ ]:
list1=["Red","Green","Black","Pink","Yellow","White"]
del(list1[5],list1[4],list1[0])
list1

In [ ]:
num=int(input())
sum=0
while (num>0):
    rem=num%10
    sum=sum+rem
    num=num//10
print(sum)
if num%sum==0:
    print("it is harshad number")
else:
    print("it is not a harshad number")

In [ ]:
str1=input()
f=""
for i in range(len(str1)):
    if i%2==0:
        f=f+str1[i]
print(f)

In [ ]:
str1=input()
f=""
for i in range(len(str1)):
    if i%2==0:
        f=f+str1[i]
print(f)

In [ ]:
str1=input()
f=""
for i in range(len(str1)):
    if i%2==0:
        f=f+str1[i]
print(f)

In [ ]:
test1={1:23,2:34,3:23,4:63,5:35,6:23,7:59,8:56}
test1.keys()

In [ ]:
print(print(test1.values()))

In [ ]:
test1.items()

In [ ]:
test1.pop(6)

In [ ]:
test1.popitem()

In [ ]:
test1={1:23,2:34,3:23,4:63,9:98,5:35,6:23,7:59,8:56}
test1.keys()

In [ ]:
dict1={1:23,2:34,3:23,4:63,9:98,5:35,6:23,7:59,8:56}
dict1["items"]=list(range(50,60))
for value in dict1.values():
    print(value)
for key in dict1.keys():
    print(key)

In [ ]:
state_capital={"Maharashtra":"Mumbai","UP":"Lucknow","Punjab":"Chandigarh","Haryana":"Chandigarh","Jammu and Kashmir":"Jammu","Jammu and Kashmir":"Srinagar"}
capital=input()
list1=[]
for key,value in state_capital.items():
    if capital==value:
        list1.append(value)
        print(key)
        
    if len(list1)==0:
        print("no value exist")
        break

In [ ]:
x=state_capital.copy()
x.clear
x

In [ ]:
state_capital={"Maharashtra":"Mumbai","UP":"Lucknow","Punjab":"Chandigarh","Haryana":"Chandigarh","Jammu and Kashmir":"Jammu","Jammu and Kashmir":"Srinagar"}
state_capital.fromkeys(x,[1000,1230,1400,1452])

In [ ]:
list1=["Devang","Sumit","Kajol","Sunny","Shubham","Devendra","Viru"]
word=input()
x=len(word)
print(x)
word_1=[]
for word in list1:

In [ ]:
n=int(input())
for i in range(0,n):
   
    #PRINTING THE ELEMENT
    for j in range((n-i)-1): #[6,5,4,3,2,1]
        print(chr(97+j),end=" ")
    print()

In [ ]:
n=int(input())
for i in range(0,n): #[0,1,2,3,4,5,6] [2]
    for j in range(0,i+1):#[0,1
        print("*",end=" ")
        
    print()

In [ ]:
n=int(input())
for i in range(0,n):
    for j in range((n-i)-1):
        print("*",end=" ")
    print()

In [ ]:
n=int(input())

for i in range(0,n):
    for j in range((n-i)-1):
        print("*",end=" ")
    print()
for k in range(0,n):
    for j in range(0,k+1):
        print("*",end=" ")
    print()

In [ ]:
list1=[10,20,30,40,50]
list2=[100,200,300,400,500]
l=(list1[1::2])
print(l)
l1=list2[::2]
print(l1)
print(sum(l))
print(sum(l1))

for x,y in zip(list1,list2[::-1]):
    print(x,y)

In [ ]:
list2 = [12,25,65,85,85]
print(list2)

print(list2[::2])

total = sum(list2)

print(total)
    
list1 = [12,10,20]
list2 = [10,25,35]

#for  i in (b,a) in (list2,list1) if zip(list2,list1):
    #print(i)
    
list3 = [ i for sublist in zip(list1,list2 ) for i in sublist]
print(list3)




square = lambda x:x**2 

square(25)










    
# 77,110,150

In [ ]:
#lambda function

str1 = 'geeksforgeeks'

sb = lambda string : string.upper() [::-1]

print(sb(str1))



#
#l=str1.upper()
#print(l[::-1])

In [ ]:
format_numeric = lambda num: f"{num:e}" if isinstance(num,int) else f"{num:,.2f}"
print("int formating :",format_numeric(1000000))
print("float formating:",format_numeric(999999.789541235))

In [ ]:
square = lambda x : x ** 2
cube = lambda x : x**3
square(5)
cube(123)

In [ ]:
even_list = [lambda arg = x: arg * 10 for x in range(1,5)]
for i in even_list :
    print(i())

In [ ]:
max = lambda a,b : a if(a>b) else b
print(max(125,2548))

In [ ]:
list1 = [[2,3,4],[1,4,16,64],[3,6,9,12]]

sortList= lambda x:(sorted(i) for i in x)


secondlargest = lambda x,f: [y[len(y)-2] for y in f(x)]
res = secondlargest (list1 , sortList)

print(res)

In [ ]:
li = [5,7,22,97,54,62,77,23,73,61]

final_list = list(filter(lambda x:(x%2 !=0),li))  # odd x%2==1 / even 


print(final_list)

In [ ]:
ages = [13,90,17,59,21,60,5]

adults = list(filter(lambda x:(x>18),ages))
print(adults)

In [ ]:
li = [20,25,30,35,65,85,78,45]
final_li = list(filter(lambda x:x%2 !=0,li))
print(final_li)
print((final_li))

list1 = ((45,25))
print((list1))

In [ ]:
li = [5,7,22,97,54,62,77,23,73,63,61]


#final_list = list(filter(lambda x:x*2 !=0,li))

#print(final_list)

fi = list(map(lambda x:x*2,li))

print(fi)

square = list(map(lambda x:x**2,fi))
print(square)

In [ ]:
animals = ['dog','cat','parrot','rabbit']

secondname = list(map(lambda animal:animal.upper(),animals))

print(secondname)

In [ ]:
secondname.reverse()
print(secondname)

In [ ]:
from functools import reduce

li = [5, 8, 10, 20, 50, 100]  #multiply,substract,divide
#print(sum(li))

sum = reduce((lambda x,y:x+y),li)

print(sum)

animals = ['dog','cat','parrot','rabbit']

In [ ]:
import functools

lis = [1,3,5,6,2,225]

print("The maximum element of the list is : ", end="")

print(functools.reduce(lambda a, b : a if a > b else b , lis))

In [ ]:
result = lambda x : f"{x} is even" if x%2==0 else f"{x} is odd"

result(25)

In [ ]:
result = lambda x,y : f"{x} is smaller than {y}"\
if x < y else (f"{x} is greater than {y}" if x>y \
              else f"{x} is equal to {y}")

print(result(24,24))

In [ ]:
l1 = [4, 2, 13, 21, 5]
'''  
l2 = []

for i in l1:
    
    temp = lambda i: i**2
    l2.append(temp(i))
'''
l2 = list(map(lambda x:x**2,l1))

#print(l2)
print(l2)

In [ ]:
l1 = [ 21,35,56,85]
l3 = list(map(lambda v : v ** 2 ,l1))
print(l3)

In [ ]:
l4 = [4, 2, 13, 21, 5] 

l5 = list(map(lambda x : x ** 2 , filter(lambda u : u % 2==0, l4)))
print(l5)

In [ ]:
x1 = (lambda x, y, z: (x+y) if (z == 0) else (x * y))(1,2,3)

print(x1)

x2 = (lambda x ,y ,z : (x + y)* z)(1,2,3)
print(x2)

In [ ]:
add1 = lambda x,y : x+ y
print(type(add1))
x1 = add1(4,7)
print(x1)

x2 =sum(12,35)
print(x2)

In [ ]:
def Key(x):
    return x%2

num  = [0, 1, 2, 3, 4, 5, 6,77, 8, 9]

sort = sorted(num,key = Key)
print(sort)

In [ ]:
num  = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

sort_lambda = sorted(num , key =lambda x : x%2)
print(sort_lambda)

In [ ]:
num  = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

square = map(lambda x:x ** 2 ,num)
print(list(square))

even = filter(lambda x: True if (x%2==0) else False,num)

print(list(even))

In [ ]:
def fun(x,y,z):
    return x*y+z

a=1
b=2
c=3

d=fun(a,b,c)

print(d)

In [ ]:
d = (lambda x, y,z : x*y*z)(1,2,3)  #also you can 2*z,3*x,

print(d)

In [ ]:
num = [0,1,2,3,4,5,6,7,8]

mapped = map(lambda x:x*x ,num)

filtered = list(filter( lambda x:x % 2 == 1,num))
print(list(mapped))
print(list(filtered))

In [ ]:
my_list = [12, 65, 54, 39, 102, 339, 221, 50, 70, ]  #reduce

result = list(filter(lambda x:(x%13 ==0),my_list))

print(result)

In [ ]:
# map function 

def add(n):
    return n+n

number = (1,2,3,4)

result = map(add,number)
print(list(result))

In [ ]:
numbers = (1,2,3,4,5,6,7)

result = map(lambda x : x + x, numbers)

print(list(result))

In [ ]:
n1 = [1, 2, 3]
n2 = [4, 5, 6]


result = map(lambda x,y:x+y ,n1,n2)
print(list(result))

In [ ]:
l = ['sat','bat','cat','mat']

test = list(map(list,l))
print(test)

In [ ]:
def double_even(n):
    if n%2 ==0:
        return n*2
    else :
        return n
    
numbers = [1,2,3,5,6,8,9]

result = list(map(double_even,numbers))
print(result)

In [ ]:
def maxOnes(input):
    
    result = list(map(sum,input))
    print(result.index(max(result)))   #print(max(result))
    
if __name__ == "__main__":
    input = [[1,0,1,1],[1,1,1,0],[0,1,1,1],[2,20,10,10],[45822]]
    maxOnes(input)

In [ ]:
# using reduce
import functools
lis = [1,3,5,6,2,8]
#sum of all numbers
print(functools.reduce(lambda a,b: a+b,lis))

#max of all numbers
print(functools.reduce(lambda a,b : a if a > b else b, lis))

In [ ]:
import operator
lis = [1, 3, 5, 6, 2]

#addition using oparator
print(functools.reduce(operator.add,lis))

#usinn operatotor to multply
print(functools.reduce(operator.mul,lis))

# adding string

print(functools.reduce(operator.add,(["geeks","for","geeks"])))

In [ ]:
import itertools
import functools

lis = [1, 3, 5, 6, 2]

#summation using accumulate

print(list(itertools.accumulate(lis,lambda x,y:x+y)))

#summation using reduce

print(functools.reduce(lambda x,y:x+y,lis))

In [ ]:
#filter


def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    
    else :
        return False
    
sequence = ['g','e','e','j','k','s','p','r']

filtered = filter(fun,sequence)
#print(list(filtered))

print('the filtered letters are:')

for s in filtered:
    print(s)

In [ ]:
seq = [0,13,52,25,3,56,5]

result = filter(lambda x: x%2 !=0 ,seq)
print(list(result))

result1 = filter(lambda x: x % 2 == 0, seq)
print(list(result1))

In [ ]:
def is_mul_of_3(num):
    return num%3 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x: is_mul_of_3(x),numbers))

print(result)

In [ ]:
x = lambda a:a+10
print(x(5))

In [ ]:
x = lambda a,b : a * b
print(x(5,6))

In [ ]:
#list compression

fruits = ["apple","banana","cherry","kiwi","mango"]

newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
        
print(newlist)

In [ ]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [x for x in fruits if "a" in x]  #aap,ap,lena ,ba,kiwi,cheery
print(newlist)

In [ ]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
newlist =[x for x in fruits]
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x<5]
print(newlist)

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
newlist = ["hello" for x in fruits]
print(newlist)

In [ ]:
list1 = [x if x!="banana" else "orange" for x in fruits]
print(list1)

In [ ]:
list1 = [x if x=="banana" else "orange" for x in fruits]
print(list1)

In [ ]:
list6 =[]

for i in range(2,51,2):
    list6.append(i)
    
print(list6)
print(sum(list6))

list7 = [j for j in range(1,101,2)]
print(list7)

list8=[i+j for i in range(1,10) for j in range (1,10) if i == j ]
print(list8)

In [ ]:
list1 = [1,23,54,66,44,55,22,2]
list2 = [i for i in list1 if i%2==0]
print(list2)
print(sum(list2))

In [ ]:
#dictionary compression

my_dict = {i : i**3 for i in range(1,10) if i%2==1}div
print(my_dict)

In [ ]:
mylist = [i for i in range(1,20) if i%2==1]
print(mylist)
print(sum(mylist))

In [ ]:
#set compression
duplicates_list = [1, 2, 3, 4, 4, 5, 5, 5]
myset = { i for i in duplicates_list if i%2==1}
print(myset)

In [ ]:
tuple1 = (i for i in range(1,10))
#print(list(tuple1))
for i in tuple1 :
    print(i)
print(tuple1)

In [ ]:
#decorator:

def function_one():
    return " it is a first function"

def function_two():
    def function_three():
        return "it is a function three"
    return function_three

def function_four():
    string = "this is function four"
    
    def function_five():
        return string+" "+"and func five"
    
    return function_five

def convert_to_upper(function):
    def inner_logic():
        func = function()
        updated_func_val = func.upper()
        return updated_func_val
    return inner_logic

def split_the_string(function):
    def inner_logic():
        func = function()
        updated_func_val = func.split()
        return updated_func_val
    
    return inner_logic

@split_the_string
@convert_to_upper

def hello_world():
    return "hello to the world"


def main():
    
    f1 = function_one
    print(f1())
    
    f2 = function_two()
    print(f2())
    
    f4 = function_four()
    print(f4())
    
    print(hello_world())
    
    
if __name__ == "__main__":
    main()

In [ ]:
def shout(text):
    return text.upper()
print(shout("hello"))
yell = shout

print(yell("aman"))

In [ ]:
def shout(text):
    return text.upper()

def lcase(text):
    return text.lower()

def greet(func):
    greeting = func(" i am santosh belge i am from nanded")
    
    print(greeting)
    
greet(shout)
greet(lcase)

In [ ]:
def createadder(x):
    def adder(y):
        return x+y
    return adder

#add_15 = createadder(15)
#print(add_15(10))
print(createadder(15)(10))

In [ ]:
def hello_decorator(func):
    
    
    def inner_function():
        print ("this is the outer function")
        
        func()
        print("this is the inner function")
    
    
    return inner_function

def function_to_beused():
    print("it is a main function")
    
function_to_beused = hello_decorator(function_to_beused)

function_to_beused()

In [ ]:
def decor1(func):
    def inner():
        x = func()
        return x * x
    return inner

def decor2(func):
    def inner():
        x =func()
        return 2*x
    return inner

@decor1
@decor2
def num():
    return 10

@decor2
@decor1
def num2():
    return 10

print(num())
print(num2())

In [ ]:
#generator
def inf_seq():
    num = 0
    while True:
        if num % 47 ==0:
            print("inside if :",num)
            i = (yield num)
            if i is not None:
                print("i : ",i)
                num = i
            else :
                print("i:",None)
                
        num = num + 1
        
def finite_seq():
    num = 1
    while True:
        return num
    num = num+1
    
def yield_example():
    str1 = "this is the first yield"
    yield str1
    
    str2 = "this is the second yield"
    yield str2
    
    str3 = "This is the third yield"
    yield str3
    
def main():
    my_lst = [i for i in range(1, 6)]
    print(my_lst)

    
    inf_obj = inf_seq()
    num = inf_obj.send(None)
    while True:
        print("The num divisible by 47 is: ", num)
        num = inf_obj.send(num * 10)
        print("num: ", num)
        if num > 10000:
            inf_obj.close()
            break


if __name__ == "__main__":
    main()

In [ ]:
#generator
def simplegeneratorfun():
    yield 1
    yield 2 
    yield 3
    
for value in simplegeneratorfun():
    print(value)

In [ ]:
#generator
def simplegeneratorfun():
    yield 1
    yield 2 
    yield 3
    
for value in simplegeneratorfun():
    print(value)

In [ ]:
def simplegeneratorfun():
    yield 1
    yield 2 
    yield 3
    
x = simplegeneratorfun()
print(next(x))
print(next(x))
print(next(x))

In [ ]:
def primefunction():
    prime = None
    num = 1
    while True:
        
        num = num + 1
         
        
        for i in range(2,num):
            if(num % i ) == 0:
                prime = False
                break
            else:
                prime = True
        if prime:
        
            yield num
        
def main():
    
    prime = primefunction()
    
    for i in prime:
        
        print(i)
        if i > 65:
            break
            
if __name__ == "__main__":
    main()

In [ ]:
def stopiteration():
    num = 5 
    for i in range(1,num):
        yield i
        
def main():
    
    f = stopiteration()
    print(next(f))
    
    print(next(f))
if __name__ == "__main__":
    main()

In [ ]:
def factorial():
    num = 0
    value = None
    response = None
    
    while True:
        factorial = 1
        if response :
            value = int(response)
        else:
            num = num +1 
            value = num
        for i in range (1,value+1):
            factorial = factorial * i
        response = yield factorial
        
def main():
    
    fact = factorial()
    
    print(next(fact))
    print(next(fact))
    print(next(fact))
    print(fact.send(5))
    
    
    
    
if __name__ =="__main__":
    main()

In [ ]:
def range_func():
    r = range(1,10)
    return r


def main():
    
    r = range_func()
    
    iterator = iter(r)
    
    print(next(iterator))
    
    print(next(iterator))
    print(next(iterator))
    print(next(iterator))

    
    
    
if __name__ =="__main__":
    main()

In [ ]:
def dict_func():
    dictionary = {'UserName': 'abc', 'UserName':'abc','Password':'a@123'}
    return dictionary
  
def main():
    d = dict_func()
    
    iterator = iter(d.items())
    
    print(next(iterator))
    
    print(next(iterator))

if __name__ == "__main__":
    main()                         #dictionary is not taking duplicates

In [ ]:
def zip_func():
    z = zip(['a','b','c','d','e'],[1,2,3,4,5])
    
    return z

def main():
    
    z = zip_func()
    
    print(next(z))
    
    print(next(z))
    
    print(next(z))
    
if __name__ == "__main__":
    main()

In [ ]:
#try,except,else and finally 

a = 5
b = 0
print(a/b)

In [ ]:
def divide(x,y):
    try:
        
        result = x // y
        print("yeah ! your answer is :" ,result)
        
    
    except ZeroDivisionError:
            print("sorry! you are dividing by zero")
            
divide (3,2)

divide(3,0)

In [ ]:
def divide(x,y):
    try :
        result = x // y
        print(result)
        
    except ZeroDivisionError:
        print(" sorry! you are dividing by zero:")
        
    else:
        print("yeah  ,your answer is: ",result)
        
    finally:
        print("this is always executed")
        
divide(2,3)
divide(0,2)
divide(11,2)
divide(2,0)

In [ ]:
import marshal

data = {"name":"santosh","roll.no":18,"age":25}

bytes =marshal.dumps(data)
print('after serilization:',bytes)

new_data = marshal.loads(bytes)
print("after deserilization:",new_data)

In [ ]:
'''import pickle

data = {'st_name':'sunny','st_id':'9607','st_add':'nasik'}

with open ('data.pickele','wb') as f1:
    
    pickle.dump(data,f1)
    print('pickling completed...')
    
with open ('data.pickle','rb') as f2:
    print("unpickling the data")
    
    data = pickle.load(f2)
    print(data)'''

In [ ]:
#deserilization
import json

students = '{"id":"9607", "name": "Sunny", "department":"Computer"}'

student_dict = json.loads(students)
print(student_dict)

print()

print(student_dict['name'])

print('Deserilization Completed.')

In [ ]:
import json
country = json.loads(countries_data)
print(country)

In [ ]:
#seriliazation
import json 

data = {
  "id": "877",
  "name": "Mayur",
  "department": "Comp"
}

json_object = json.dumps(data)

print(json_object)

print('serilization completed')

In [ ]:
# Python program to illustrate
# pickle.dump()
import pickle
import io
 
class SimpleObject(object):
 
    def __init__(self, name):
        self.name = name
        l = list(name)
        l.reverse()
        self.name_backwards = ''.join(l)
        return
 
data = []
data.append(SimpleObject('pickle'))
data.append(SimpleObject('cPickle'))
data.append(SimpleObject('last'))
 
# Simulate a file with StringIO
out_s = io.StringIO()
 
# Write to the stream
for o in data:
    print ('WRITING: %s (%s)' % (o.name, o.name_backwards))
    pickle.dump(o, out_s)
    out_s.flush()

In [ ]:
#pickle dump
import pickle

data = [{'a':'A','b':'B','c':30}]

data_string = pickle.dumps(data)
print("pickle :",data_string)

In [ ]:
#pickle.load()
import pickle
import io
 
class SimpleObject(object):
 
    def __init__(self, name):
        self.name = name
        l = list(name)
        l.reverse()
        self.name_backwards = ''.join(l)
        return
 
data = []
data.append(SimpleObject('pickle'))
data.append(SimpleObject('cPickle'))
data.append(SimpleObject('last'))
 
# Simulate a file with StringIO
out_s = io.StringIO()
 
 
# Write to the stream
for o in data:
    print ('WRITING: %s (%s)' % (o.name, o.name_backwards))
    pickle.dump(o, out_s)
    out_s.flush()
     
     
# Set up a read-able stream
in_s = io.StringIO(out_s.getvalue())
 
# Read the data
while True:
    try:
        o = pickle.load(in_s)
    except EOFError:
        break
    else:
        print ('READ: %s (%s)' % (o.name, o.name_backwards))

In [ ]:
import pickle
import pprint

data1 = [ { 'a':'A', 'b':2, 'c':3.0 } ]

print('BEFORE:',)
pprint.pprint(data1)

data1_string = pickle.dumps(data1)

data2 = pickle.loads(data1_string)
print('AFTER:',)
pprint.pprint(data2)

print('SAME:',(data1 is data2))

print('EQUAL:',(data1 == data2))